In [131]:
import pandas as pd

In [132]:
notaFundamentos=pd.DataFrame({'Nombre':['andres','sebastian','laura','camila'],'semestre':[2,3,3,2]})
notaFundamentos

      Nombre  semestre
0     andres         2
1  sebastian         3
2      laura         3
3     camila         2

In [133]:
#insert para agregar datos
notaFundamentos.insert(2,'Ciudad',['Manizales','Pereira','Manizales','Pereira'])

In [134]:
notaFundamentos

      Nombre  semestre     Ciudad
0     andres         2  Manizales
1  sebastian         3    Pereira
2      laura         3  Manizales
3     camila         2    Pereira

In [135]:
#añadir valores diferentes haciendo uso del metodo operador 
notaFundamentos['Nota1']=[4,4,4,4]

In [136]:
notaFundamentos['Nota2']=[3,5,4,4]

In [137]:
notaFundamentos

      Nombre  semestre     Ciudad  Nota1  Nota2
0     andres         2  Manizales      4      3
1  sebastian         3    Pereira      4      5
2      laura         3  Manizales      4      4
3     camila         2    Pereira      4      4

In [138]:
#añadir filas a nuestro Df loc, append
notaFundamentos.loc[4]=['Maria',2,'Manizales',5,4]

In [139]:
notaFundamentos

      Nombre  semestre     Ciudad  Nota1  Nota2
0     andres         2  Manizales      4      3
1  sebastian         3    Pereira      4      5
2      laura         3  Manizales      4      4
3     camila         2    Pereira      4      4
4      Maria         2  Manizales      5      4

In [140]:
#append
notaFundamentos.append({'semestre':2,'Nota1':3,'Nombre':'Lucia','Ciudad':'Armenia','Nota2':5},ignore_index=True)

      Nombre  semestre     Ciudad  Nota1  Nota2
0     andres         2  Manizales      4      3
1  sebastian         3    Pereira      4      5
2      laura         3  Manizales      4      4
3     camila         2    Pereira      4      4
4      Maria         2  Manizales      5      4
5      Lucia         2    Armenia      3      5

In [141]:
#modificar datos iloc
notaFundamentos.iloc[2,2]='Pereira'

In [142]:
notaFundamentos

      Nombre  semestre     Ciudad  Nota1  Nota2
0     andres         2  Manizales      4      3
1  sebastian         3    Pereira      4      5
2      laura         3    Pereira      4      4
3     camila         2    Pereira      4      4
4      Maria         2  Manizales      5      4

In [143]:
notaFundamentos.iloc[2,3]=5

In [144]:
notaFundamentos

      Nombre  semestre     Ciudad  Nota1  Nota2
0     andres         2  Manizales      4      3
1  sebastian         3    Pereira      4      5
2      laura         3    Pereira      5      4
3     camila         2    Pereira      4      4
4      Maria         2  Manizales      5      4

In [ ]:
#Agrupacion de datos